@import '../../styles/variables.scss';

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-size: 18px;
        letter-spacing: 1px;
        color: $label;
        margin-bottom: 10px;
    }

    &__field {
        border-bottom: 1px solid $dark;
        background: none;

        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 1px;
        color: $dark;

        transition: border 0.2s;

        &.error {
            border-bottom: 1px solid $red;
        }
    }
}
