version: "3"
services:
  nginx:
    restart: always
    build:
      context: ./nginx
    ports:
      - '${PORT}:80'
  api:
    restart: always
    build:
      context: ./server
    ports:
      - '5000:5000'
    env_file:
      - ./server/.env
  client:
    build:
      context: ./client
    links:
      - api
