@import '../../styles/variables.scss';

.popup {
    padding: 70px 150px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid $line;

    &__bg {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba($dark, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
    }

}
