@import '../../styles/variables.scss';

.popup {
    padding: 70px 150px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid $line;

    &__bg {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba($dark, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__button {
        padding: 7px 38px;
        background-color: $input_bg;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 0.2s;

        &:hover {
            background-color: darken($input_bg, 10);
        }
    }
}
