@import '../../styles/variables.scss';

.popup {
    padding: 70px 150px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid $line;

    &__bg {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba($dark, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__button {
        padding: 7px 38px;
        background-color: $input_bg;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 0.2s;

        &:hover {
            background-color: darken($input_bg, 10);
        }
    }
}


.popup-date-picker {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: 25px;

    &>.react-date-picker__wrapper {
        border: none
    }
}

.popup-react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border-radius: 8px;
    border: 1px solid #a0a096;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.125em;

    &>.react-calendar__viewContainer>.react-calendar__month-view>div>div>.react-calendar__month-view__weekdays>div{
        font-size: 0.6em;
    }
}
