@import '../../styles/variables.scss';

.header {
    height: 80px;
    width: 100%;
    background-color: $bg;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__avatar {
        border-radius: 50%;
        border: 1.5px solid $line;

        &.admin {
            border: 1.5px solid $green;
        }
    }

    &__username {
        font-size: 18px;
        font-weight: 600;
        color: $dark;
        margin-left: 25px;
    }

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        margin-left: 40px;
        opacity: 0.8;

        transition: opacity 0.1s;

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-left: 100px;
        }

        &__text {
            font-size: 18px;
            font-weight: 400;
            margin-right: 7px;
            letter-spacing: 0.75px;
            color: $dark;
        }
    }
}
