@import '../../styles/variables.scss';

.userCard {
    padding: 30px 50px;
    background-color: white;
    border: 1px solid $line;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;

    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.75px;
        margin-bottom: 20px;
        color: $body;
    }

    &__text {
        color: $body;
    }
}
