@import '../../styles/variables.scss';


.radioInput {
    width: 100%;

    &__title {
        font-size: 18px;
        letter-spacing: 1px;
        color: $label;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }
}


.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &__text {
        color: $dark;
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    &+&__text::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid $dark;
        border-radius: 50%;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60% 60%;
    }

    &:checked+&__text::before {
        background-image: url('../../assets/ico/radio_bg.svg');
    }
}
