@import '../../styles/variables.scss';

.checkbox {
    // margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;


    &__block {
        display: flex;
        align-items: center;
        cursor: default;
    }

    &__text {
        color: $dark;
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    &+&__text::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid $dark;
        border-radius: 2px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
    }

    &:checked+&__text::before {
        background-image: url('../../assets/ico/checkbox_bg.svg');
    }
}
